name = "fogchan"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "fogchan-db"
database_id = "<YOUR_DATABASE_ID>"

[triggers]
crons = ["0 * * * *"]
